.FavIcon{
    width: 20px !important;
    padding: 0;
}
.LikeIcon{
    width: 60px !important;
    padding: 0;
}
.commentIc{
    width: 40px !important;
}
.commentxt{
    width: 90px !important;
}
.cancelComment{
    border: solid red 1px !important;
    border-radius: 0 !important;
    width: 45px !important;
    height: auto !important;
    color: rgb(255, 255, 255) !important;
    font-size: x-small !important;
    background-color: black !important;
    margin: 0 5px !important;

}